@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton");
* {
  margin: 0px;
  padding: 0px;
  font-family: "IBM Plex Sans", sans-serif;
}
:root {
  --myblue: #2a4482;
}
input:disabled {
  background-color: #fff !important;
}
body {
  background-color: var(--myblue) !important;
}
#preloader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 {
  width: 100%;
}

.ilk {
  width: 100%;
  margin: auto;
  text-align: center;
  line-height: 100px;
}

.ilk h1 {
  font-size: 30px;
  color: #fff;
  padding-top: 20px;
}

.btn1 {
  display: block;
  width: 80%;
  margin: 25px auto;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  font-size: 24px;
  font-weight: 600;
  color: var(--myblue);
  cursor: pointer;
}

.semestr {
  display: none;
}

.umumi {
  display: none;
}

.geri {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--myblue);
  transition: 0.3s ease;
}

.yuxari {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}

.yuxari h1 {
  font-size: 30px;
  padding: 15px 0;
  color: #fff;
}

table {
  border-collapse: collapse;
  margin: 10px auto;
  transition: display 0.5s ease;
}

.yuxaritable td {
  height: 50px;
  color: #fff;
}

.changediv {
  text-align: center;
  padding: 10px 15px;
  width: 80px;
  outline: none;
  border-radius: 5px;
}
label {
  margin-bottom: unset !important;
}

.giris {
  width: 80px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: var(--myblue);
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.cavab {
  width: 75px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #fff !important;
  color: var(--myblue);
  text-align: center;
}

.btn-hesab {
  width: auto;
  height: 50px;
  color: var(--myblue);
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}

#fen4,
#fen5,
#fen6,
#fen7,
#fen8 {
  display: none;
}
.asagi {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}
.asagi h1 {
  font-size: 36px;
  color: #fff;
}
.asagitable td {
  color: #fff;
  height: 50px;
}
.umcavab {
  width: 80px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #fff !important;
  color: var(--myblue);
  font-size: 18px;
  text-align: center;
}

.btn-umhesab {
  width: auto;
  height: 50px;
  color: var(--myblue);
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}

.umgiris {
  width: 80px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: var(--myblue);
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

#sem3,
#sem4,
#sem5,
#sem6,
#sem7,
#sem8 {
  display: none;
}
.copy {
  color: #fff;
  font-size: 0.5em;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px !important;
}
.side {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  padding: 10px 20px;
  transition: 0.5s ease;
  transform: translateX(-100%);
  height: 100vh;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.side-open {
  outline: none;
  border: none;
  padding: 10px;
  background: #fff;
  color: var(--myblue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
}
.side-close {
  outline: none;
  border: none;
  padding: 10px;
  background: var(--myblue);
  color: var(--myblue);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
}
.side-close:hover i {
  color: var(--myblue);
}
.side-close {
  background: #fff;
  border: 1px solid var(--myblue);
}
.side-open:hover i {
  color: #fff;
}
.side-open:hover {
  background: var(--myblue);
  border: 1px solid #fff;
}
.geri:hover {
  background: var(--myblue);
  border: 1px solid #fff;
  color: #fff;
}
.my-acc {
  display: flex;
  flex-direction: column;
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  background: var(--myblue);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.mar-50 {
  margin-top: 70px;
}
.side-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}
.mar-0 {
  margin: 0 !important;
}
.card {
  margin: 10px 0;
}
.card-header {
  background: linear-gradient(
    90deg,
    hsla(222, 51%, 34%, 1) 0%,
    hsla(235, 39%, 45%, 1) 100%,
    hsla(237, 64%, 56%, 1) 100%
  ) !important;
  color: #fff !important;
}
.btn-link {
  color: #fff !important;
}
.btn-link:hover {
  text-decoration: none !important;
}
.btn:focus {
  box-shadow: none !important;
}
.font-600 {
  font-weight: 600;
}
.font-500 {
  font-weight: 500 !important;
}
.logo-h {
  display: inline;
  font-size: 15vw;
  text-transform: uppercase;
  color: #2a4482;
  font-family: "Monoton", Helvetica, sans-serif !important;
  align-self: center;
}
@media (min-width: 700px) {
  .logo-h {
    font-size: 9vw;
  }
}
@media (min-width: 1400px) {
  .logo-h {
    font-size: 100px;
  }
}
@supports (-webkit-background-clip: text) {
  .logo-h {
    color: transparent;
    background: linear-gradient(7deg, #f4b41a 50%, #2a4482 0);
    -webkit-background-clip: text;
  }
}
